:root {
    --black-0: #000000;
    --black-1: #1F2525;
    --black-2: #101D1D;
    --black-3: #070D0D;
    --black-4: #0C0B0B;
    --black-opacity-0: #1F252580;

    --gray-0: #414141;
    --gray-1: #ffffff61;
    --gray-2: #F3F3F3;
    --gray-3: #626262;
    --gray-4: #4F4F4F;
    --gray-5: #969696;
    --gray-6: #D1D1D1;

    --blue-dark: #2E3141;

    --orange-0: #FF760C;

    --red-0: #DD0E0E;
    --red-1: #250303;
    --red-2: #3A1C1C;
    --red-3: #921515;
    --red-4: #B43D3D;
    --red-opacity-0: #DD0E0E8A;
    --red-opacity-1: #FF525270;

    --white-0: #FFFFFF;
    --white-opacity-0: #FFFFFF47;
    --white-opacity-1: #FFFFFF1A;

    --yellow: #EEB114;
}