@import url('https://fonts.googleapis.com/css?family=Poppins:100:900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(345deg, #ee9aa7, #224267);
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 35px 80px #00000026;
    transition: 0.5s;
}

.card:hover {
    width: 390px;
    height: 450px;
}

.imgBox {
    position: absolute;
    left: 50%;
    top: -100px;
    transform:translateX(-50%);
    width: 150px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 50px #00000059;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgBox {
    width: 250px;
    height: 320px;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.80em;
    font-weight: 700;
    color: #272727;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.65em;
    font-weight: 800;
}

.card .content .details .data {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: #3d3d3d;
    line-height: 1.2em;
    font-weight: 700;
}

.card .content .details .data h3 a {
    font-size: 0.85em;
    font-weight: 800;
    margin:20px;
    text-decoration: none;
}

.card .content .details .data h3 a:link {
    color: initial;
}

.card .content .details .data h3 a:visited {
    color: initial;
}

.card .content .details .actionBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card .content .details .actionBtn a {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 700;
    background-color: #2e3141;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.card .content .details .actionBtn a:nth-child(2) {
    border: 1px solid #2e3141;
    color: #2e3141;
    background-color: #fff;
}